HOST=0.0.0.0
PORT=1337
NODE_ENV=development

# Required: change these in your local copy
APP_KEYS="toBeModified1,toBeModified2,toBeModified3,toBeModified4"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# Default database (sqlite)
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
